/* GENERAL */

html {
}

header {
  display: flex;
  justify-content: center;

}

h1 {
  font-size: 50px;
  margin-top: 50px;
}

h2 {
  font-size: 20px;

  font-weight: 500;
}

p {
}

/* STUDENTLIST */

#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 5vw;
  padding: 5vw; 
}

.student {
  border: 2px solid black;
  margin: 4px;
  padding: 10px;
  background-color: ghostwhite;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.student img,
.student button {
  cursor: pointer;
}

.student.hide-animation {
  opacity: 0;
}
/* SORTING AND FILTERING */

#selectors {
  display: flex; 
  justify-content: center; 
   

}

select { 
  margin-right: 20px; 
  font-size: 30px;
}

.options {
  display: flex;
 
  justify-content: space-around;
  margin: 10px 500px;
}

button {
  font-family: 
  font-size: 20px;
  border: none;
  background-color: inherit;
  color: black;
}

.housedropdown {
  display: none;
  flex-direction: column;
}

.sortdropdown {
  display: none;
  flex-direction: column;
}

.show {
  display: flex;
}

/* POPUP */

#popup {
  height: 400px;
  width: 400px;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
  background-color: rgba(209, 178, 132, 0.9);
  transition: 0.5s;
  display: none;
}

.popup_content .student {
  background-color: inherit;
}
#close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  display: none;
}

#student_amount {
  display: flex;
  flex-direction: column;
  font-size: 20px;
 
}

#total_houses {
  display: flex;
  flex-direction: row;
  justify-content: left; 
}
