/* GENERAL */

html {
}

header {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 50px;
  margin-top: 50px;
}

h2 {
  font-size: 20px;

  font-weight: 500;
}

p {
}

/* STUDENTLIST */

#list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5vw;
}

.student {
  border: 2px solid black;
  margin: 4px;
  padding: 10px;
  background-color: ghostwhite;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

/* SORTING AND FILTERING */

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 500px;
}

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  border: none;
  background-color: inherit;
  color: black;
}

.housedropdown {
  display: none;
  flex-direction: column;
}

.sortdropdown {
  display: none;
  flex-direction: column;
}

.show {
  display: flex;
}

/* POPUP */

#popup {
  width: 70vw;
  height: 85vh;
  position: fixed;
  background-color: white;
  border: 2px solid black;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#indhold {
  box-sizing: border-box;
  width: 60vw;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

#indhold h2 {
  font-size: 30px;
}

#luk {
  box-sizing: border-box;
  text-align: right;
}

#luk button {
  font-size: 2em;
  background-color: white;
  border: none;
  cursor: grab;
  padding: 0px;
  margin-right: 15px;
}
